<!DOCTYPE html >
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Project force</title>
    <link th:href="@{/css/project-force-style.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Thông tin nguồn lực dự án(2023 - 2030)</h1>
    </br>
    <div class="content">
        <div id="search">

            <div>  
                <label for="fullName">Họ và tên</label>
                <input id="fullName" type="text"> </div>
            <div>
                <label for="year">Năm</label> 
                <select id="year" name="years">
                    <option selected="true" value=""></option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                </select> </div>
            <div>
                <label for="month">Tháng</label>
                <select id="month" name="months">
                    <option selected="true" value=""></option>
                    <option value="01">1</option>
                    <option value="02">2</option>
                    <option value="03">3</option>
                    <option value="04">4</option>
                    <option value="05">5</option>
                    <option value="06">6</option>
                    <option value="07">7</option>
                    <option value="08">8</option>
                    <option value="09">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div> 
                <label for="email">Email</label> 
                <input id="email" type="text"> </div>
            <div> 
                <label for="project">Dự án</label>
                <select id="project" name="project">
                    <option selected="true" value=""></option>
                </select>
            </div>

        </div>
        <hr>
        <div>
            <button id="search-button" class="btn btn-info">Tìm kiếm</button>
        </div>
        </br>
        <div id="table-scroll" class="table-scroll table-responsive">
            <table id="main-table" class="main-table  table-responsive " border="1">
                
                <thead>
                    <tr class="">
                        <th scope="col" rowspan="2">STT</th>
                        <th scope="col" rowspan="2">Họ và tên</th>
                        <th scope="col" rowspan="2">Email</th>
                        <th scope="col" rowspan="2">Project</th>
                        <th scope="col" rowspan="2">Thời gian tham gia dự án theo kế hoạch (Hours)</th>
                        <th scope="col" rowspan="2">Khối lượng công việc được giao (Point)</th>
                        <th scope="col" rowspan="2">KLCV Hoàn thành (Point)</th>
                        <th scope="col" rowspan="2">KLCV chưa hoàn thành (point)</th>
                        <th scope="col" rowspan="2">Khối lượng cv vượt kế hoạch (Point)</th>
                        <th scope="col" rowspan="2">KLCV trước hạn (Point)</th>
                        <th scope="col" rowspan="2">KLCV trễ hạn (Point)</th>
                        <th scope="col" rowspan="2">Khối lượng cv Reopen (Point)</th>
                        <th scope="col" rowspan="2">Tổng thời gian logwork (Hours)</th>
                        <th scope="col" colspan="4">Số bug được tạo ra trong tháng</th>
                        <th scope="col" colspan="4">Số bug được tạo ra trong tháng</th>
                    </tr>

                    <tr class="secondheader">
                        <th scope="col">Fatal</th>
                        <th scope="col">Serious</th>
                        <th scope="col">Medium</th>
                        <th scope="col">Cosmetic</th>
                        <th scope="col">Fatal</th>
                        <th scope="col">Serious</th>
                        <th scope="col">Medium</th>
                        <th scope="col">Cosmetic</th>
                    </tr>
                </thead>
            

                <tbody id="tbody"></tbody>
            </table>


        </div>
    </div>

    <!-- <div id="api-data"></div>-->
    <div id="data-container"></div>
    <div id="workList"></div>
</body>
<script type="text/javascript" th:src="@{/js/project-force.js}"></script>
<script>
    
</script>

</html>