body {
    margin: 0px;
    box-sizing: border-box;
    text-align: center !important;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.odd {
    background-color: rgb(202, 222, 243);
}

.content {
    width: 94%;
    height: 640px;
    margin: auto auto;
    Overflow-x: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px grey;
    background-color: rgba(232, 236, 248, 0.69) !important;
}

.table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 480px;
}

.table-scroll table {
    max-width: 100%; 
}

.table-wrap {
    position: relative;
}

.table-scroll th {
    border: 2px solid #5086fa; text-align: center; 
}

.table-scroll td {
    border: 2px solid #729efd;
    padding: 5px;
}

.table-scroll thead {
    background: rgb(140, 193, 249);
    color: #0e036f;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 2px solid #729efd;
    z-index: 2;
}
.main-table div:first-child{background-color:  #729efd; z-index: 4; position: -webkit-sticky;
    position: sticky;}

.stickyCol {
    background: rgb(255, 255, 255);
    color: #0e036f;
    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    border: 2px solid #729efd;
    z-index: 0; padding: 5px;
}

/* safari and ios need the tfoot itself to be position:sticky also */
.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: midnightblue;
    color: #fff;
    z-index: 4;
}

a:focus {
    background: red;
}

/* testing links*/
thead th:first-child,
tfoot th:first-child {
    z-index: 5;
}


#search {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#search div {
    margin: 0px 25px;
}
#search input:hover, select:hover {
    background-color: rgba(252, 252, 147, 0.808);
}
input, select{border-radius: 5px; border: 1px solid grey;}
label{margin-right: 8px;}

.truncate-text {
    max-width: 200px;
    /* Adjust the max-width value as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

thead tr {
    border: 2px solid #729efd;
    padding: 0px 0px;
    margin: 0px 0px;
}

.secondheader {
    border-top: 3px solid #5086fa;
}